apiVersion: v1
kind: Service
metadata:
  name: {{ include "ngf-console.fullname" . }}-frontend
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ngf-console.labels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "ngf-console.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: frontend
